olake
.vscode
test
.DS_Store
__debug_bin*
go.sum
go.work.sum
*/**/examples
olake-data/
olake-iceberg-java-writer-0.0.1-SNAPSHOT.jar
destination/iceberg/olake-iceberg-java-writer/target/
destination/iceberg/olake-iceberg-java-writer/target/**/
destination/iceberg/local-test/data/
olake-iceberg-java-writer.jar
local-releaser.sh
destination/iceberg/olake-iceberg-java-writer/.idea/
destination/iceberg/olake-iceberg-java-writer/dependency-reduced-pom.xml
